<div class="u-mbs" ng-include="'partials/header.html'"></div>


<div class="go-back" title="Retour à l'acceuil" back>
  <i class="fa fa-arrow-left"></i> /
</div>

<div class="banner-promo clearfix" style="background-image:url('{{thubmnailUrl}}')">
  <p class="txtXL">{{title}}</p>
</div>



<div class="container u-mbm">


  <div class="row">


    <div class="col-md-12">



      <div ng-bind-html="content | renderHTMLCorrectly"></div>

    </div>



  </div> <!-- row -->

</div> <!-- container -->
