
.back-icon{
  display: none;
}

@media only screen and (max-width: 768px){
  .responsive-icon {
    left: initial;
    right: 10px;
  }

  .back-icon{
    display: block;
    position: fixed;
    left: 10px;
    top: 16px;
    width: 32px;
    z-index: 8;
  }
}
